*
!*/

/build/
/release/
/bin/
/lib/

!.gitignore
!.gitkeep

!README.md
!LICENSE
!Doxyfile

!CMakeLists.txt

!/.github/**/*.yml
!/cmake/**/*.cmake

!/deps/**/*
!/docs/**/*

!/include/**/*.h
!/include/**/*.hpp
!/src/**/*.cpp

!/test/**/*
!/example/**/*
